#video-index{
    display: flex;
    justify-content: center;
    padding: 4em 0;
}

#sites-maps {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    padding: 2em 0;
}
#sites-maps ul {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
#sites-maps li {
    list-style-type: none;
}
#sites-maps a {
    color: #fff;
}
#sites-maps .products {
    display: flex;
    flex-wrap: wrap
}
#sites-maps .product-list {
    text-align: left;
}

#anchor img{
    position: fixed;
    bottom: 1em;
    right: 3em;
    width: 4em;
    animation: bounce 3s ease infinite;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-animation: bounce 3s ease infinite;
}
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px);
    }
}
